/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";

@import "layout/";
@import "layout/header";
@import "pages/home";


.row {
    max-width: 114rem;
    background-color:#eeeeee;
    margin:0 auto;
    margin-bottom: 80px;
}




