*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
   
    @include repond(tab-land){
        font-size:56.2%;
    }
    @include repond(tab-port){
        font-size:50%;
    }
   
    @include repond(big-desktop){
        font-size:75%;
    }

}
body {
    box-sizing: border-box;
    padding: 3rem;
    @include repond(tab-port){
        padding: 0;
    }
}


